Cerberus==1.3.7
dissect.cstruct==3.14
keyboard==0.13.5
numpy==2.2.6
openpyxl==3.1.5
pandas==2.2.3
pandastable==0.14.0
pillow==11.2.1
psutil==7.0.0
pycryptodome==3.23.0
python-registry==1.3.1
pytsk3==20250312
pytz==2025.2
quickxorhash==1.0.5
ruamel.yaml==0.18.11
ttkthemes==3.2.2