# This is a basic workflow to help you get started with Actions

name: Package Application with Pyinstaller

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the Dev branch
  # push:
   # branches: [ master ]
  # pull_request:
    # branches: [ master ] 

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Package Application
        uses: JackMcKew/pyinstaller-action-windows@main
        with:
          path: ./OneDriveExplorer
 
      - uses: actions/upload-artifact@v2
        with:
           name: OneDriveExplorer
           path: ./OneDriveExplorer
